<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
</head>

<body>
	<section class="hero is-primary is-bold">
		<div class="hero-body">
			<div class="header-bar">
				<h1 class="title greeting">
					{{site.title}}
				</h1>
				<img src="/img/logo-white.png" class="title-image" />
			</div>
		</div>
	</section>
	<div class="section">
		<div class="columns">
			<div class="column is-one-quarter is-menu-sidebar">
				{% include nav.html %}
			</div>
			<div class="column">
				<div class="container">
					<div class="content">
						{{content | smartify}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{% include footer.html %}
	{% include foot.html %}
</body>

</html>